<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
	<title>Login Page!</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.min.css" th:href="@{/static/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../resources/css/default.css" th:href="@{/static/css/default.css}"/>
	<link rel="stylesheet" type="text/css" href="../../resources/css/navigationBar.css" th:href="@{/static/css/navigationBar.css}"/>
	<link rel="stylesheet" type="text/css" href="../../resources/css/footer.css" th:href="@{/static/css/footer.css}"/>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="../../resources/css/products.css" th:href="@{/static/css/products.css}"/>
	<style>
		
	</style>
</head>

<body>
	<nav th:include="layout/navigationBar :: navigation" class="navbar navbar-inverse"></nav>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
	            <article class="col-item">
	            	<div class="photo">
	        			<div class="options-cart-round">
	        				<button class="btn btn-default" title="Add to cart">
	        					<span class="fa fa-shopping-cart"></span>
	        				</button>
	        				<button class="btn btn-default" title="View Product">
	        					<span class="fa fa-info-circle" aria-hidden="true"></span>
	        				</button>
	        			</div>
	        			<a href="#"> <img th:src="@{/static/images/pizza/carbonara.jpg}" class="img-responsive" alt="Product Image" /> </a>
	        		</div>
	        		<div class="info">
	        			<div class="row">
	        				<div class="price-details col-md-6">
	        					<p class="details">
	        						<b>Pizza Carbonara</b><br>
	        						<i>sos alb, mozarella, bacon, ou, parmezan</i>
	        					</p>
	        					<h1>Sample Product</h1>
	        					<span class="price-new">24,00 lei</span>
	        				</div>
	        			</div>
	        		</div>
	        	</article>
	        </div>
	        <div class="col-sm-3">
	            <article class="col-item">
	            	<div class="photo">
	        			<div class="options-cart-round">
	        				<button class="btn btn-default" title="Add to cart">
	        					<span class="fa fa-shopping-cart"></span>
	        				</button>
	        				<button class="btn btn-default" title="View Product">
	        					<span class="fa fa-info-circle" aria-hidden="true"></span>
	        				</button>
	        			</div>
	        			<a href="#"> <img th:src="@{/static/images/pizza/carbonara.jpg}" class="img-responsive" alt="Product Image" /> </a>
	        		</div>
	        		<div class="info">
	        			<div class="row">
	        				<div class="price-details col-md-6">
	        					<p class="details">
	        						<b>Pizza Carbonara</b><br>
	        						<i>sos alb, mozarella, bacon, ou, parmezan</i>
	        					</p>
	        					<h1>Sample Product</h1>
	        					<span class="price-new">24,00 lei</span>
	        				</div>
	        			</div>
	        		</div>
	        	</article>
	        </div>
	        <div class="col-sm-3">
	            <article class="col-item">
	            	<div class="photo">
	        			<div class="options-cart-round">
	        				<button class="btn btn-default" title="Add to cart">
	        					<span class="fa fa-shopping-cart"></span>
	        				</button>
	        				<button class="btn btn-default" title="View Product">
	        					<span class="fa fa-info-circle" aria-hidden="true"></span>
	        				</button>
	        			</div>
	        			<a href="#"> <img th:src="@{/static/images/pizza/carbonara.jpg}" class="img-responsive" alt="Product Image" /> </a>
	        		</div>
	        		<div class="info">
	        			<div class="row">
	        				<div class="price-details col-md-6">
	        					<p class="details">
	        						<b>Pizza Carbonara</b><br>
	        						<i>sos alb, mozarella, bacon, ou, parmezan</i>
	        					</p>
	        					<h1>Sample Product</h1>
	        					<span class="price-new">24,00 lei</span>
	        				</div>
	        			</div>
	        		</div>
	        	</article>
	        </div>
	        <div class="col-sm-3">
	            <article class="col-item">
	            	<div class="photo">
	        			<div class="options-cart-round">
	        				<button class="btn btn-default" title="Add to cart">
	        					<span class="fa fa-shopping-cart"></span>
	        				</button>
	        				<button class="btn btn-default" title="View Product">
	        					<span class="fa fa-info-circle" aria-hidden="true"></span>
	        				</button>
	        			</div>
	        			<a href="#"> <img th:src="@{/static/images/pizza/carbonara.jpg}" class="img-responsive" alt="Product Image" /> </a>
	        		</div>
	        		<div class="info">
	        			<div class="row">
	        				<div class="price-details col-md-6">
	        					<p class="details">
	        						<b>Pizza Carbonara</b><br>
	        						<i>sos alb, mozarella, bacon, ou, parmezan</i>
	        					</p>
	        					<h1>Sample Product</h1>
	        					<span class="price-new">24,00 lei</span>
	        				</div>
	        			</div>
	        		</div>
	        	</article>
	        </div>
	        <div class="col-sm-3">
	            <article class="col-item">
	            	<div class="photo">
	        			<div class="options-cart-round">
	        				<button class="btn btn-default" title="Add to cart">
	        					<span class="fa fa-shopping-cart"></span>
	        				</button>
	        				<button class="btn btn-default" title="View Product">
	        					<span class="fa fa-info-circle" aria-hidden="true"></span>
	        				</button>
	        			</div>
	        			<a href="#"> <img th:src="@{/static/images/pizza/carbonara.jpg}" class="img-responsive" alt="Product Image" /> </a>
	        		</div>
	        		<div class="info">
	        			<div class="row">
	        				<div class="price-details col-md-6">
	        					<p class="details">
	        						<b>Pizza Carbonara</b><br>
	        						<i>sos alb, mozarella, bacon, ou, parmezan</i>
	        					</p>
	        					<h1>Sample Product</h1>
	        					<span class="price-new">24,00 lei</span>
	        				</div>
	        			</div>
	        		</div>
	        	</article>
	        </div>
	        <div class="col-sm-3">
	            <article class="col-item">
	            	<div class="photo">
	        			<div class="options-cart-round">
	        				<button class="btn btn-default" title="Add to cart">
	        					<span class="fa fa-shopping-cart"></span>
	        				</button>
	        				<button class="btn btn-default" title="View Product">
	        					<span class="fa fa-info-circle" aria-hidden="true"></span>
	        				</button>
	        			</div>
	        			<a href="#"> <img th:src="@{/static/images/pizza/carbonara.jpg}" class="img-responsive" alt="Product Image" /> </a>
	        		</div>
	        		<div class="info">
	        			<div class="row">
	        				<div class="price-details col-md-6">
	        					<p class="details">
	        						<b>Pizza Carbonara</b><br>
	        						<i>sos alb, mozarella, bacon, ou, parmezan</i>
	        					</p>
	        					<h1>Sample Product</h1>
	        					<span class="price-new">24,00 lei</span>
	        				</div>
	        			</div>
	        		</div>
	        	</article>
	        </div>
		</div>
	</div>
	
	<footer th:include="layout/footer :: footer" class="footer-distributed"></footer>
		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	
	<script src="../../resources/js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script>
	<script layout:fragment="endScript" th:inline="javascript">
		$(function () {
		 	$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
</body>

</html>