<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>
html {
    height: 100%;
    width: 100%;
    font-family: georgia;
}
body {
   	background-image: url('static/img/paper2.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.tableEmployees {
	position: fixed;
	width: 1400px;
	height: 400px;
	top: calc(50% - 350px);
	left: calc(50% - 700px);
	font-size: 25px;
}
.table {
	margin: 0 auto;
}
td, th {
	text-align:center; 
    vertical-align:middle;
}

#button {
	width:100px;
	height:30px;
}
</style>

</head>
<body>

<div class="tableEmployees">
	<table class="table" border="1">
	
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Date Of Birth</th>
				<th>Email</th>
				<th>Password</th>
				<th>Roles</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="employee, iterationStatus: ${list}">
				<td th:text="${employee.firstName}"></td>
				<td th:text="${employee.lastName}"></td>
				<td th:text="${employee.dateOfBirth}"></td>
				<td th:text="${employee.email}"></td>
				<td >
					<span th:if="${employee.password} != null " th:text="${employee.password}"></span>
					<span th:if="${employee.password} == null " th:text="${noPass}"> </span>
					<form th:id="'add-to-cart' + ${iterationStatus.count}">
						<input type="hidden" name="quantity">
						<input type="hidden" name="partNumber">
						<button type="submit" hidden="hidden"></button>
					</form>
				</td>
				<td >
					<select>
						<option th:each="role: ${employee.roles}" th:text="${role}"></option>
					</select>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<form action="">
		<button id="buttonSubmitChart" style="display:none;" type="submit"></button>
</form>
		<button id="buttonClickAll" onclick="clickAll()">Add/View Cart</button>
<script>
</script>
</body>
</html>