<beans xmlns="http://www.springframework.org/schema/beans"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<import resource="classpath:freshServicesFacade-context.xml" />
	<context:component-scan base-package="com.freshfood.security" />
    <!-- enable use-expressions -->
	<sec:http auto-config="true" use-expressions="true" authentication-manager-ref="authenticationManager">
		<sec:intercept-url pattern="/login" access="permitAll" />
		<sec:intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
		
		<!-- access denied page -->
		<sec:access-denied-handler error-page="/403" />
		<sec:form-login 
		    login-page="/login" 
		    default-target-url="/welcom" 
		    authentication-failure-url="/login?error" />
		    
		<sec:logout logout-success-url="/"  />
		<!-- enable csrf protection nu am idee...poate maine vine inspiratia-->
		<!-- <sec:csrf disabled = "true"/> -->
	</sec:http>
	
	<!-- Select users and user_roles from database -->
	<sec:authentication-manager alias="authenticationManager">
		<sec:authentication-provider ref="customAuthenticationProvider"/>
		<!-- <sec:authentication-provider>
			<sec:jdbc-user-service data-source-ref="dataSource"
				users-by-username-query=
					"select username,password from user where username=?"
				authorities-by-username-query=
					"select username, role from user where username =?  " />
			<sec:user-service>
				<sec:user name="admin" password="123456" authorities="ROLE_ADMIN"/>
			</sec:user-service>
		</sec:authentication-provider> -->
	</sec:authentication-manager>
	
	<bean id="customAuthenticationProvider" class="com.freshfood.security.CustomAuthenticationProvider">
		
	</bean>
</beans>