<beans xmlns="http://www.springframework.org/schema/beans"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<import resource="classpath:freshServicesFacade-context.xml" />
	<import resource="classpath:freshFoodContext.xml" />
	<context:component-scan base-package="com.freshfood.security" />
    <!-- enable use-expressions -->
	<sec:http auto-config="true" use-expressions="true" authentication-manager-ref="authenticationManager">
		<sec:intercept-url pattern="/login" access="permitAll" />
		<sec:intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
		
		<!-- access denied page -->
		<sec:access-denied-handler error-page="/403" />
		<sec:form-login 
		    login-page="/login" 
		    default-target-url="/welcom" 
		    authentication-failure-url="/login?error" />
		    
		<sec:logout logout-success-url="/"  />
	</sec:http>
	
	<!-- Select users and user_roles from database -->
	<sec:authentication-manager alias="authenticationManager">
		<sec:authentication-provider ref="customAuthenticationProvider"/>
	</sec:authentication-manager>
	
	<bean id="customAuthenticationProvider" class="com.freshfood.security.CustomAuthenticationProvider">
		<property name="customAuthenticationHelper" ref="customAuthenticationHelper"/>
	</bean>
</beans>